# unfinished folders 
Cloud_and_Edge_Computing/
Embedded_AI_for_IoT/
Energy_for_Connected_Objects/
Innovative_Project_and_English/
Middleware_for_IoT/
Security_for_IoT/
Service_Architecture/
Smart_Devices/
Social_Psychology_and_Ethics/
Team_Management/
Theater/
Wireless_Communications/
Wireless_Sensor_Network/
Docments_en_attente/



